{% block collection_type_widget %}

	<ul id="collection_type_{{form.vars.id}}" class="collection_type list-unstyled list-group" data-prototype="{{ form_widget(form.vars.prototype)|e }}">
		{% for item in form	%}
			<li class="list-group-item" data-index="{{item.vars.name}}">
				{% spaceless %}
					{{ form_widget(item) }}
				{% endspaceless %}
			</li>
		{% endfor %}
	</ul>

	<script type="text/javascript">
		window.addEventListener("load", function () {
			collectionPrepeare('{{ form.vars.id }}', '{{ prototype_name }}', {{ js_settings|raw }});
		});
	</script>
	<style type="text/css">
		#fg_{{form.vars.id}} > div { width: 100%; flex: 0 0 100%; max-width: 100%; }
		#fg_{{form.vars.id}} > legend { background:white; margin: 0 0 -10px 20px; padding: 0 6px; position: relative; width: auto; z-index: 10; }
		.collection_type .ntlcol-delete-button { position: absolute; top: 20px; display:none; }
		.collection_type li:hover .ntlcol-delete-button { display: block; }
		.collection_type li:not(.addCollBtn):hover { background-color: rgba(0, 0, 0, 0.02); }
		.collection_type li.addCollBtn { text-align: center; }
	</style>


{% endblock %}

{% block netliva_ajax_submit_widget %}

	{{ form_widget(form) }}

	<script type="text/javascript">
		var button = document.getElementById("{{ form.vars.id }}");
		button.setAttribute('type', 'submit');
		form = document.getElementsByName("{{ form.parent.vars.id }}");
		form[0].classList.add("be_ajax_form");
		if (typeof ajaxFormCreate == 'function') {
			ajaxFormCreate();
		}
	</script>

{% endblock %}


{% block netliva_dependent_widget %}
	{% set depend_to_id = null %}
	{% if form.parent.children[depend_to] is defined %}
		{% set depend_to_id = form.parent.children[depend_to].vars.id %}
	{% elseif form.parent.parent.children[depend_to] is defined %}
		{% set depend_to_id = form.parent.parent.children[depend_to].vars.id %}
	{% elseif form.parent.parent.parent.children[depend_to] is defined %}
		{% set depend_to_id = form.parent.parent.parent.children[depend_to].vars.id %}
	{% endif %}

	{% if not depend_to_id %}
		<em>Bağlı Form Elemanı Bulunamadı.</em>
	{% else %}


		{% set expanded = false %}
		{% set placeholder = default %}
		{% set multiple = false %}
		{% set preferred_choices = {} %}
		{% set choices = {} %}
		{% set attr = {disabled:true} %}

		{{- block('choice_widget') -}}


		<script type="text/javascript">
			window.addEventListener("load", function () {
				netlivaDependentPrepeare(
					'{{ form.vars.id }}',
					'{{ depend_to_id }}',
					{
						value: '{{ value }}',
						default: '{{ default }}',
						option_path: "{{ path('netliva_form_dependent_get_class', {"entity_alias":entity_alias}) }}",
					}
				);
			});
		</script>
	{% endif %}
{% endblock %}
