{% block collection_type_widget %}

	<ul
		id="collection_type_{{form.vars.id}}"
		class="collection_type be_netliva_collection_type list-unstyled list-group"
		data-form-id="{{form.vars.id}}"
		data-prototype-name="{{ prototype_name }}"
		data-js-settings="{{ js_settings|raw }}"
		data-prototype="{{ form_widget(form.vars.prototype)|e }}"
	>
		{% for item in form	%}
			<li class="list-group-item" data-index="{{item.vars.name}}">
				{% apply spaceless %}
					{{ form_widget(item) }}
				{% endapply %}
			</li>
		{% endfor %}
	</ul>

	<style type="text/css">
		#fg_{{form.vars.id}} > div { width: 100%; flex: 0 0 100%; max-width: 100%; }
		#fg_{{form.vars.id}} > legend { background:white; margin: 0 0 -10px 20px; padding: 0 6px; position: relative; width: auto; z-index: 10; flex: auto; max-width: fit-content; }
		.collection_type .ntlcol-delete-button { position: absolute; top: 20px; display:none; }
		.collection_type li:hover .ntlcol-delete-button { display: block; }
		.collection_type li:not(.addCollBtn):hover { background-color: rgba(0, 0, 0, 0.02); }
		.collection_type li.addCollBtn { text-align: center; }
	</style>


{% endblock %}

{% block netliva_ajax_submit_widget %}

	{{ form_widget(form) }}

	<script type="text/javascript">
		var button = document.getElementById("{{ form.vars.id }}");
		button.setAttribute('type', 'submit');
		form = document.getElementsByName("{{ form.parent.vars.id }}");
		form[0].classList.add("be_ajax_form");
		if (typeof ajaxFormCreate == 'function') {
			ajaxFormCreate();
		}
	</script>

{% endblock %}


{% block netliva_dependent_widget %}
	{% set depend_to_id = null %}
	{% if form.parent.children[depend_to] is defined %}
		{% set depend_to_id = form.parent.children[depend_to].vars.id %}
	{% elseif form.parent.parent.children[depend_to] is defined %}
		{% set depend_to_id = form.parent.parent.children[depend_to].vars.id %}
	{% elseif form.parent.parent.parent.children[depend_to] is defined %}
		{% set depend_to_id = form.parent.parent.parent.children[depend_to].vars.id %}
	{% endif %}

	{% if not depend_to_id %}
		<em>Bağlı Form Elemanı Bulunamadı.</em>
	{% else %}


		{% set expanded = false %}
		{% set placeholder = default %}
		{% set multiple = false %}
		{% set preferred_choices = {} %}
		{% set choices = {} %}
		{% set attr = {
			"disabled"       : true,
			"class"          : "be_netliva_dependent",
			"data-depend-to" : depend_to_id,
			"data-value"     : value,
			"data-default"   : default,
			"data-path"      : path('netliva_symfony_form_dependent', {"entity_alias":entity_alias})
		} %}

		{{- block('choice_widget') -}}

	{% endif %}
{% endblock %}




{% block netliva_autocomplete_widget %}

	{% set val_id = null %}
	{% if value.id is defined %}
		{% set val_id = value.id %}
	{% elseif not value is iterable  %}
		{% set val_id = value %}
	{% endif %}

	<input {{ block('widget_attributes') }} type="hidden" value="{{ value.id is defined  ? value.id:(value is iterable ? value|json_encode : value) }}"  />

	<div class="typeahead__container">
		<div class="typeahead__field">
			<div class="typeahead__query">
				<input
					{% with {attr: attr|merge({
					"id":form.vars.id~"_helper",
					"name":form.vars.id~"_helper",
					"autocomplete":"off",
					"netliva_autocomplete_widget":"",
					"data-element":"#"~form.vars.id,
					"data-multiselect":multiselect,
					"data-multiselect-limit":multiselect_limit,
					"data-config":entity_config|json_encode,
					"data-autocomplate-url":path('netliva_symfony_form_autocomplate', {"entity_alias":entity_alias}),
					"data-autocomplate-back-url": val_id ? path('netliva_symfony_form_autocomplate_back', {"entity_alias":entity_alias, "id":val_id }),
					})} %}{{ block('attributes') }}{% endwith %}
				/>
			</div>
		</div>
	</div>


{% endblock %}



{% block netliva_datepicker_widget %}


	<input {{ block('widget_attributes') }} type="hidden" value="{{ date }}" />
	<input
		{% with {attr: attr|merge({
			"class": "form-control",
			"id":form.vars.id~"_helper",
			"name":form.vars.id~"_helper",
			"netliva_datetimepicker_widget":"",
			"data-element":"#"~form.vars.id,
			"data-view-format":view_format,
			"data-db-format":db_format
		})} %}{{ block('attributes') }}{% endwith %}
	/>
{% endblock %}



{% block netliva_icon_row %}
	{% set row_attr = { "netliva_icon_field" : "prepare", class:"netliva_icon_field" } %}
	{{ block('form_row') }}
{% endblock %}
{% block netliva_icon_widget %}
	<i class="netliva-demo-icon {{ value }}" style="margin-top: 0;margin-bottom: 0;"></i>
	<button type="button" class="btn btn-xs btn-info"><i class="fa fa-list-ul"></i> SEÇ</button>
	<input {{ block('widget_attributes') }} type="hidden" value="{{ value }}" />
{% endblock %}




{% block netliva_treeselect_row %}
	{% set row_attr = {
		"netliva_treeselect" : "prepare",
		"class"              :"netliva_treeselect_field",
		"data-first-deep"    : first_deep,
		"data-multiselect"   : multiselect,
		"data-breakable"     : breakable,
		"data-where"         : where|json_encode()|raw,
		"data-value"         : value|json_encode()|raw,
		"data-url"           : path("netliva_symfony_form_treeselect_getoption",{entity_alias:entity_alias, val:"__ID__"}) ,
	} %}
	{{ block('form_row') }}
{% endblock %}

{% block netliva_treeselect_widget %}

	<input {% with {attr: attr|merge({
		"class" : "netliva_treeselect_input",
		"type"  : "hidden",
		"value" : value ? (value.id is defined  ? value.id:value|json_encode()|raw)
	})} %}{{ block('widget_attributes') }}{% endwith %} />

	<div class="d-flex flex-column">
		<div class="d-flex">
			<select class="form-control">
				<option value="0">Yükleniyor...</option>
			</select>
			<button class="btn btn-info netliva_treeselect_back_btn ml-2" style="display: none;"><i class="fa fa-backward"></i></button>
		</div>
		<div class="my-1">
			<small class="netliva_treeselect_selected_text"></small>
		</div>
		{% if multiselect %}
				<input class="netliva_treeselect_helper form-control" />
		{% endif %}
	</div>



{% endblock %}

{% block netliva_collection_contact_widget %}
	<div class="netliva_collection_contact_area">
		{{ form_widget(form) }}
	</div>

{% endblock %}
{% block netliva_contact_widget %}
	<div class="netliva_contact_type_area">
		{{ form_widget(form.type, {'attr': {'class': 'form-control contactType'}}) }}
		<button class="closeContactTypeBtn btn btn-warning"><i class="fa fa-times"></i></button>
	</div>
	<div class="netliva_contact_fields">
		<button class="selectContactTypeBtn btn btn-info"><i class="fa fa-bell"></i></button>
		{{ form_widget(form.content, {'attr': {'class': 'form-control contactContent'}}) }}
		{{ form_widget(form.internal, {'attr': {'class': 'form-control contactInternal', 'placeholder':'dahili'}}) }}
		<label class="notiLabel">
			{{ form_widget(form.notification, {'attr': {'class': 'contactNotification input-switch-alt'}}) }}
		</label>
	</div>
{% endblock %}
